@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
:root {
	--bgMainColor: #337da8;
	--bgComponentColor: #79c4f1;
	--whiteColor: white;
	--success: green;
	--warning: yellow;
	--danger: red;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Bangers', cursive; */
}

body {
	width: 100%;
	height: 97vh;
	background-color: var(--bgMainColor);
}

.header {
	width: 50%;
	padding: 1rem 0;
	background-color: var(--bgComponentColor);
	margin: 1rem auto;
	border-radius: 5px;
}
.header__h1 {
	text-transform: uppercase;
	text-align: center;
	color: var(--whiteColor);
}

.main {
	width: 80%;
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--bgComponentColor);
	border-radius: 5px;
}

.container {
	width: 80%;
	text-align: center;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list__element {
	padding: 0.5rem;
}

/* BUTTONS */
.btn {
	padding: 0.4rem;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	transition: opacity 500ms;
}

.btn:hover {
	cursor: pointer;
	opacity: 0.5;
}

.btn--warning {
	background-color: var(--warning);
}

.btn--danger {
	background-color: var(--danger);
}

.btn--success {
	background-color: var(--success);
}
.btn--ml{
    margin-left: 5px;
}

/* ALERT */

.alert {
	width: 300px;
	padding: 0.5rem;
	background-color: var(--whiteColor);
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
    border-radius: 5px;
    opacity: 1;
}
.alert__close{
    display: block;
    cursor: pointer;
}

.hiddenElement{
    display: none;
}

.showElement{
    display: flex;
}
.alert--positionLeft {
	top: 1rem;
	left: -2px;
}

.alert--positionRight {
	top: 1rem;
	right: -2px;
}



