


/* Tipografía general */
@font-face{
	font-family:"Open Sans";
	src:url("fonts/OpenSans-Regular.ttf");
}

*{
	font-family:"Open Sans";
	box-sizing:border-box;
}
		
/* Panel con los productos */
#productos{
	border:5px solid black;
	background-color:#F0F0F0;
	padding: 20px;
	width:90%; 
	margin:0 auto;
}

#productos:after{
	content:"";
	clear:both;
	display:block;
	
}


/* Artículo individual */			
.articulo {	
	padding:10px; 
	width: 80%;
	margin:0 auto;
	margin-bottom: 20px; 
 	
	border:5px solid black;
	background-color:#b6aeae;
}


.articulo:after{
	content:"";
	clear:both;
	display:block;
	
}

/* Columnas del artículo */
.articulo .columna{
	width:50%;
	float:left;
}


/* Elementos del artículo */
.articulo p{
	font-size:1.3em;
}


.articulo p.precio{
	background-color: red;
	color: white;
	padding-left: 5px;
	padding-right:5px;
	margin-right:10px;	
	border:1px solid black;
	display:inline-block;
	clear:right;
}

.articulo label{
	width:150px;
	display:inline-block;
	font-size:1.3em;
}

.articulo select{
	width:200px;
	font-size:1.3em;
}

.articulo button{
	width:80%;
	font-size:1.3em;
	padding:10px;
	margin-top:10px;
	border:5px solid black;
}


/* Imágenes de los artículos */
.articulo img{
	border:5px solid black;
	height:200px;
	padding:10px;
	margin-bottom:10px;
	display:inline-block;
	float:right;
	background-color:white;
}




/* Ventana modal*/
.modal {
    display:none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}


.contenido-modal{
	position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animación para ventana modal */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal button{
	width:80%;
	font-size:1.3em;
	padding:10px;
	display:block;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	
	border:5px solid black;
}

.modal p{
	font-size:1.3em;
	margin:20px;
}


/* Panel con el carrito de la compra */
#carrito{
	border:5px solid black;
	
	background-color:#eac25a;
	padding: 20px;
	width:90%; 
	margin:0 auto;
	margin-bottom:20px;
}

#carrito:after{
	content:"";
	clear:both;
	display:block;
	
}

/* Cada línea del carrito */

#carrito .item-carrito{
	border:3px solid black;
	padding:5px;
	margin:10px;
		background-color:#febf19;
}

/* Línea que muestra el total del carrito */

#carrito .total{
	font-size:1.5em;
	text-align:center;
}

/* Contenido de cada línea del carrito */

#carrito p{
	display:inline-block;
	margin-right:20px;
	
}

			
			
			